<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.acyone.model.dao.CategoryBrandMapper">
  <resultMap id="BaseResultMap" type="top.acyone.model.entity.CategoryBrand">
    <id column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="brand_icon" jdbcType="VARCHAR" property="brandIcon" />
    <result column="sequence_number" jdbcType="INTEGER" property="sequenceNumber" />
    <result column="brand_description" jdbcType="VARCHAR" property="brandDescription" />
    <result column="isdelete" jdbcType="INTEGER" property="isdelete" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
  </resultMap>
  <sql id="Base_Column_List">
    brand_id, brand_name, brand_icon, sequence_number, brand_description, isdelete, creation_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from et_category_brand
    where brand_id = #{brandId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from et_category_brand
    where brand_id = #{brandId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.acyone.model.entity.CategoryBrand">
    insert into et_category_brand (brand_id, brand_name, brand_icon, 
      sequence_number, brand_description, isdelete, 
      creation_date)
    values (#{brandId,jdbcType=INTEGER}, #{brandName,jdbcType=VARCHAR}, #{brandIcon,jdbcType=VARCHAR}, 
      #{sequenceNumber,jdbcType=INTEGER}, #{brandDescription,jdbcType=VARCHAR}, #{isdelete,jdbcType=INTEGER}, 
      #{creationDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="top.acyone.model.entity.CategoryBrand">
    insert into et_category_brand
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="brandName != null">
        brand_name,
      </if>
      <if test="brandIcon != null">
        brand_icon,
      </if>
      <if test="sequenceNumber != null">
        sequence_number,
      </if>
      <if test="brandDescription != null">
        brand_description,
      </if>
      <if test="isdelete != null">
        isdelete,
      </if>
      <if test="creationDate != null">
        creation_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="brandId != null">
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="brandName != null">
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="brandIcon != null">
        #{brandIcon,jdbcType=VARCHAR},
      </if>
      <if test="sequenceNumber != null">
        #{sequenceNumber,jdbcType=INTEGER},
      </if>
      <if test="brandDescription != null">
        #{brandDescription,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.acyone.model.entity.CategoryBrand">
    update et_category_brand
    <set>
      <if test="brandName != null">
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="brandIcon != null">
        brand_icon = #{brandIcon,jdbcType=VARCHAR},
      </if>
      <if test="sequenceNumber != null">
        sequence_number = #{sequenceNumber,jdbcType=INTEGER},
      </if>
      <if test="brandDescription != null">
        brand_description = #{brandDescription,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null">
        isdelete = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null">
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where brand_id = #{brandId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.acyone.model.entity.CategoryBrand">
    update et_category_brand
    set brand_name = #{brandName,jdbcType=VARCHAR},
      brand_icon = #{brandIcon,jdbcType=VARCHAR},
      sequence_number = #{sequenceNumber,jdbcType=INTEGER},
      brand_description = #{brandDescription,jdbcType=VARCHAR},
      isdelete = #{isdelete,jdbcType=INTEGER},
      creation_date = #{creationDate,jdbcType=TIMESTAMP}
    where brand_id = #{brandId,jdbcType=INTEGER}
  </update>
</mapper>