<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.acyone.model.dao.CouponMessageMapper">
  <resultMap id="BaseResultMap" type="top.acyone.model.entity.CouponMessage">
    <id column="coupon_id" jdbcType="INTEGER" property="couponId" />
    <result column="vendor_id" jdbcType="VARCHAR" property="vendorId" />
    <result column="preferential_way" jdbcType="INTEGER" property="preferentialWay" />
    <result column="preferential_strength" jdbcType="VARCHAR" property="preferentialStrength" />
    <result column="coupon_validity" jdbcType="INTEGER" property="couponValidity" />
    <result column="coupon_quantity_issued" jdbcType="INTEGER" property="couponQuantityIssued" />
    <result column="after_reciving_closing_date" jdbcType="TIMESTAMP" property="afterRecivingClosingDate" />
    <result column="after_using_closing_date" jdbcType="TIMESTAMP" property="afterUsingClosingDate" />
    <result column="coupon_application_range" jdbcType="VARCHAR" property="couponApplicationRange" />
    <result column="isdelete" jdbcType="INTEGER" property="isdelete" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="sequence_number" jdbcType="INTEGER" property="sequenceNumber" />
  </resultMap>
  <sql id="Base_Column_List">
    coupon_id, vendor_id, preferential_way, preferential_strength, coupon_validity, coupon_quantity_issued, 
    after_reciving_closing_date, after_using_closing_date, coupon_application_range, 
    isdelete, creation_date, sequence_number
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from et_coupon_message
    where coupon_id = #{couponId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from et_coupon_message
    where coupon_id = #{couponId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.acyone.model.entity.CouponMessage">
    insert into et_coupon_message (coupon_id, vendor_id, preferential_way, 
      preferential_strength, coupon_validity, coupon_quantity_issued, 
      after_reciving_closing_date, after_using_closing_date, 
      coupon_application_range, isdelete, creation_date, 
      sequence_number)
    values (#{couponId,jdbcType=INTEGER}, #{vendorId,jdbcType=VARCHAR}, #{preferentialWay,jdbcType=INTEGER}, 
      #{preferentialStrength,jdbcType=VARCHAR}, #{couponValidity,jdbcType=INTEGER}, #{couponQuantityIssued,jdbcType=INTEGER}, 
      #{afterRecivingClosingDate,jdbcType=TIMESTAMP}, #{afterUsingClosingDate,jdbcType=TIMESTAMP}, 
      #{couponApplicationRange,jdbcType=VARCHAR}, #{isdelete,jdbcType=INTEGER}, #{creationDate,jdbcType=TIMESTAMP}, 
      #{sequenceNumber,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="top.acyone.model.entity.CouponMessage">
    insert into et_coupon_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="couponId != null">
        coupon_id,
      </if>
      <if test="vendorId != null">
        vendor_id,
      </if>
      <if test="preferentialWay != null">
        preferential_way,
      </if>
      <if test="preferentialStrength != null">
        preferential_strength,
      </if>
      <if test="couponValidity != null">
        coupon_validity,
      </if>
      <if test="couponQuantityIssued != null">
        coupon_quantity_issued,
      </if>
      <if test="afterRecivingClosingDate != null">
        after_reciving_closing_date,
      </if>
      <if test="afterUsingClosingDate != null">
        after_using_closing_date,
      </if>
      <if test="couponApplicationRange != null">
        coupon_application_range,
      </if>
      <if test="isdelete != null">
        isdelete,
      </if>
      <if test="creationDate != null">
        creation_date,
      </if>
      <if test="sequenceNumber != null">
        sequence_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="couponId != null">
        #{couponId,jdbcType=INTEGER},
      </if>
      <if test="vendorId != null">
        #{vendorId,jdbcType=VARCHAR},
      </if>
      <if test="preferentialWay != null">
        #{preferentialWay,jdbcType=INTEGER},
      </if>
      <if test="preferentialStrength != null">
        #{preferentialStrength,jdbcType=VARCHAR},
      </if>
      <if test="couponValidity != null">
        #{couponValidity,jdbcType=INTEGER},
      </if>
      <if test="couponQuantityIssued != null">
        #{couponQuantityIssued,jdbcType=INTEGER},
      </if>
      <if test="afterRecivingClosingDate != null">
        #{afterRecivingClosingDate,jdbcType=TIMESTAMP},
      </if>
      <if test="afterUsingClosingDate != null">
        #{afterUsingClosingDate,jdbcType=TIMESTAMP},
      </if>
      <if test="couponApplicationRange != null">
        #{couponApplicationRange,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sequenceNumber != null">
        #{sequenceNumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.acyone.model.entity.CouponMessage">
    update et_coupon_message
    <set>
      <if test="vendorId != null">
        vendor_id = #{vendorId,jdbcType=VARCHAR},
      </if>
      <if test="preferentialWay != null">
        preferential_way = #{preferentialWay,jdbcType=INTEGER},
      </if>
      <if test="preferentialStrength != null">
        preferential_strength = #{preferentialStrength,jdbcType=VARCHAR},
      </if>
      <if test="couponValidity != null">
        coupon_validity = #{couponValidity,jdbcType=INTEGER},
      </if>
      <if test="couponQuantityIssued != null">
        coupon_quantity_issued = #{couponQuantityIssued,jdbcType=INTEGER},
      </if>
      <if test="afterRecivingClosingDate != null">
        after_reciving_closing_date = #{afterRecivingClosingDate,jdbcType=TIMESTAMP},
      </if>
      <if test="afterUsingClosingDate != null">
        after_using_closing_date = #{afterUsingClosingDate,jdbcType=TIMESTAMP},
      </if>
      <if test="couponApplicationRange != null">
        coupon_application_range = #{couponApplicationRange,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null">
        isdelete = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null">
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sequenceNumber != null">
        sequence_number = #{sequenceNumber,jdbcType=INTEGER},
      </if>
    </set>
    where coupon_id = #{couponId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.acyone.model.entity.CouponMessage">
    update et_coupon_message
    set vendor_id = #{vendorId,jdbcType=VARCHAR},
      preferential_way = #{preferentialWay,jdbcType=INTEGER},
      preferential_strength = #{preferentialStrength,jdbcType=VARCHAR},
      coupon_validity = #{couponValidity,jdbcType=INTEGER},
      coupon_quantity_issued = #{couponQuantityIssued,jdbcType=INTEGER},
      after_reciving_closing_date = #{afterRecivingClosingDate,jdbcType=TIMESTAMP},
      after_using_closing_date = #{afterUsingClosingDate,jdbcType=TIMESTAMP},
      coupon_application_range = #{couponApplicationRange,jdbcType=VARCHAR},
      isdelete = #{isdelete,jdbcType=INTEGER},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      sequence_number = #{sequenceNumber,jdbcType=INTEGER}
    where coupon_id = #{couponId,jdbcType=INTEGER}
  </update>
</mapper>