<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.acyone.model.dao.WxuserProductCartMapper">
  <resultMap id="BaseResultMap" type="top.acyone.model.entity.WxuserProductCart">
    <id column="cart_id" jdbcType="INTEGER" property="cartId" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="isdelete" jdbcType="INTEGER" property="isdelete" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="product_parameter" jdbcType="VARCHAR" property="productParameter" />
    <result column="product_count" jdbcType="VARCHAR" property="productCount" />
  </resultMap>
  <sql id="Base_Column_List">
    cart_id, openid, product_id, isdelete, creation_date, product_parameter, product_count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from re_wxuser_product_cart
    where cart_id = #{cartId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from re_wxuser_product_cart
    where cart_id = #{cartId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.acyone.model.entity.WxuserProductCart">
    insert into re_wxuser_product_cart (cart_id, openid, product_id, 
      isdelete, creation_date, product_parameter, 
      product_count)
    values (#{cartId,jdbcType=INTEGER}, #{openid,jdbcType=VARCHAR}, #{productId,jdbcType=INTEGER}, 
      #{isdelete,jdbcType=INTEGER}, #{creationDate,jdbcType=TIMESTAMP}, #{productParameter,jdbcType=VARCHAR}, 
      #{productCount,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="top.acyone.model.entity.WxuserProductCart">
    insert into re_wxuser_product_cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cartId != null">
        cart_id,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="isdelete != null">
        isdelete,
      </if>
      <if test="creationDate != null">
        creation_date,
      </if>
      <if test="productParameter != null">
        product_parameter,
      </if>
      <if test="productCount != null">
        product_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cartId != null">
        #{cartId,jdbcType=INTEGER},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="productParameter != null">
        #{productParameter,jdbcType=VARCHAR},
      </if>
      <if test="productCount != null">
        #{productCount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.acyone.model.entity.WxuserProductCart">
    update re_wxuser_product_cart
    <set>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null">
        isdelete = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null">
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="productParameter != null">
        product_parameter = #{productParameter,jdbcType=VARCHAR},
      </if>
      <if test="productCount != null">
        product_count = #{productCount,jdbcType=VARCHAR},
      </if>
    </set>
    where cart_id = #{cartId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.acyone.model.entity.WxuserProductCart">
    update re_wxuser_product_cart
    set openid = #{openid,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=INTEGER},
      isdelete = #{isdelete,jdbcType=INTEGER},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      product_parameter = #{productParameter,jdbcType=VARCHAR},
      product_count = #{productCount,jdbcType=VARCHAR}
    where cart_id = #{cartId,jdbcType=INTEGER}
  </update>
</mapper>